.footer{
	max-width: 1440px;
	width: 100%;
height: clamp(0px, 16.67vw, 240px);
	margin: 0 auto;
	background-color: #111111;

	display: flex;
	align-items: center;
	justify-content: center;

	color: azure;
}