.footer{
	max-width: 1440px;
	width: 100%;
  height: clamp(0px, 16.67vw, 240px);
	margin: 0 auto;
	background-color: #111111;

	// display: flex;
	// align-items: center;
	// justify-content: center;

	color: #ffffff;

padding-top: clamp(0px, 5.42vw, 78px);
padding-right: clamp(0px, 25.35vw, 365px);
padding-bottom: clamp(0px, 5.28vw, 76px);
padding-left: clamp(0px, 11.46vw, 165px);
}

@media (max-width: 1024px) {
.footer{
padding: 
  64px 
	calc(380px - (1024px - 100vw) * 0.5)
	62px 
	calc(167px - (1024px - 100vw) * 0.5);

height: 328px;
}
}


@media (max-width: 768px) {
.footer{
height: clamp(0px, 42.71vw, 328px);

padding-top: clamp(0px, 8.33vw, 64px);
padding-right: clamp(0px, 32.81vw, 252px);
padding-bottom: clamp(0px, 8.07vw, 62px);
padding-left: clamp(0px, 5.08vw, 39px);
}
}

@media (max-width: 480px) {
.footer{
height: 440px;

padding-top: 80px;
padding-right: calc(76.5px - (480px - 100vw) * 0.5);
padding-bottom: 76px;
padding-left:  calc(76.5px - (480px - 100vw) * 0.5);

}
}

@media (max-width: 375px) {
.footer{
height: clamp(0px, 117.33vw, 440px);

padding-top: clamp(0px, 21.33vw, 80px);
padding-right: clamp(0px, 6.4vw, 24px);
padding-bottom: clamp(0px, 20.27vw, 76px);
padding-left: clamp(0px, 6.4vw, 24px);

}
}


.footer-main-container{
	display: flex;
	justify-content: space-between;

	// border: 1px solid #ffffff;
}

@media (max-width: 480px) {
	.footer-main-container{
flex-direction: column;
gap: 42px;

align-items: center;
}
}


@media (max-width: 375px) {
	.footer-main-container{
gap: clamp(0px, 11.2vw, 42px);
	}
}


.footer-info-container{
	display: flex;
	justify-content: space-between;

// width: clamp(0px, 42.71vw, 615px);
gap: clamp(0px, 9.38vw, 135px);
}



@media (max-width: 1024px) {
.footer-info-container{
flex-direction: column;
// width: auto;
gap: 32px;
}
}


@media (max-width: 768px) {
.footer-info-container{
gap: clamp(0px, 4.17vw, 32px);
}
}


@media (max-width: 480px) {
.footer-info-container{
gap: 32px;
}
}

@media (max-width: 375px) {
.footer-info-container{
gap: clamp(0px, 8.53vw, 32px);
}
}

.footer-open-times-container, .footer-address-container{
	font-weight: 400;
	font-size: clamp(0px, 0.97vw, 14px);
line-height: clamp(0px, 1.94vw, 28px);
letter-spacing: clamp(0px, 0.14vw, 2px);
}


@media (max-width: 1024px) {
.footer-open-times-container, .footer-address-container{
	font-size: 14px;
line-height: 28px;
letter-spacing: 2px;
}
}

@media (max-width: 768px) {
	.footer-open-times-container, .footer-address-container{
		font-size: clamp(0px, 1.82vw, 14px);
		line-height: clamp(0px, 3.65vw, 28px);
		letter-spacing: clamp(0px, 0.26vw, 2px);
	}
}


@media (max-width: 480px) {
.footer-open-times-container, .footer-address-container{
font-size: 14px;
		line-height: 28px;
		letter-spacing: 2px;

		text-align: center;
	}
}

@media (max-width: 480px) {
.footer-open-times-container, .footer-address-container{
font-size: clamp(0px, 3.73vw, 14px);
line-height: clamp(0px, 7.47vw, 28px);
letter-spacing: clamp(0px, 0.53vw, 2px);
}
}