.form {
	position: absolute;

	// top:258px;
	// left:735px;

	top: clamp(0px, 17.92vw, 258px);
left: clamp(0px, 51.04vw, 735px);



  // width: 540px;
  // height: 545px;

  width: clamp(0px, 37.5vw, 540px);
  height: clamp(0px, 37.85vw, 545px);

  background-color: #fff;
  // padding: 45px 48px 53px 48px;

  padding-top: clamp(0px, 3.13vw, 45px);
  padding-right: clamp(0px, 3.33vw, 48px);
  padding-bottom: clamp(0px, 3.68vw, 53px);
  padding-left: clamp(0px, 3.33vw, 48px);

	 box-shadow: 0px // clamp(5px, 0.69vw, 10px)
    clamp(28px, 3.82vw, 55px) clamp(40px, 5.55vw, 80px)
    clamp(-15px, -2.08vw, -30px) rgba(0, 0, 0, 0.4);
}

@media (max-width: 1024px) {
  .form {

top: 370px;
left: calc(243px - (1024px - 100vw) * 0.5);

    width: 540px;
    height: 545px;

    padding-top: 45px;
    padding-right: 48px;
    padding-bottom: 53px;
    padding-left: 48px;
  }
}

@media (max-width: 768px) {
  .form {
top: clamp(0px, 48.18vw, 370px);
left: clamp(0px, 14.84vw, 114px);


    width: clamp(0px, 70.31vw, 540px);
    height: clamp(0px, 70.96vw, 545px);

    padding-top: clamp(0px, 5.86vw, 45px);
    padding-right: clamp(0px, 6.25vw, 48px);
    padding-bottom: clamp(0px, 6.9vw, 53px);
    padding-left: clamp(0px, 6.25vw, 48px);
  }
}

@media (max-width: 480px) {
  .form {
top: 325px;
left: calc(76.5px - (480px - 100vw) * 0.5);

    width: 327px;
    height: 585px;

    padding: 34px 32px 32px 32px;
  }
}

@media (max-width: 375px) {
  .form {
  
top: clamp(0px, 86.67vw, 325px);
left: clamp(0px, 6.4vw, 24px);

  width: clamp(0px, 87.2vw, 327px);
  height: clamp(0px, 156vw, 585px);

 
  padding-top: clamp(0px, 9.07vw, 34px);
  padding-right: clamp(0px, 8.53vw, 32px);
  padding-bottom: clamp(0px, 8.53vw, 32px);
  padding-left: clamp(0px, 8.53vw, 32px);
  }
}

.form-long-height {
  height: clamp(0px, 38.88vw, 560px);
}

@media (max-width: 1024px) {
  .form-long-height {
    height: 560px;
  }
}

@media (max-width: 768px) {
  .form-long-height {
    height: clamp(0px, 72.92vw, 560px);
  }
}

@media (max-width: 480px) {
  .form-long-height {
    
    height: 592px;
  }
}

@media (max-width: 375px) {
  .form-long-height {
    
height: clamp(0px, 157.87vw, 592px);

  }
}


.fildset-name-email {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  // gap: 10px;
  // margin-bottom: 16px;

  gap: clamp(0px, 0.69vw, 10px);
  margin-bottom: clamp(0px, 1.11vw, 16px);
}

@media (max-width: 1024px) {
  .fildset-name-email {
    gap: 10px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .fildset-name-email {
    gap: clamp(0px, 1.3vw, 10px);
    margin-bottom: clamp(0px, 2.08vw, 16px);
  }
}

@media (max-width: 480px) {
  .fildset-name-email {
    gap: 5px;
    margin-bottom: 16px;
  }
}

@media (max-width: 375px) {
  .fildset-name-email {
   gap: clamp(0px, 1.33vw, 5px);
margin-bottom: clamp(0px, 4.27vw, 16px);
  }
}

.fildset-name-email-long-margin-bottom {
  margin-bottom: clamp(0px, 2.15vw, 31px);
}

@media (max-width: 1024px) {
  .fildset-name-email-long-margin-bottom {
    margin-bottom: 31px;
  }
}

@media (max-width: 768px) {
  .fildset-name-email-long-margin-bottom {
    margin-bottom: clamp(0px, 4.04vw, 31px);
  }
}

@media (max-width: 480px) {
  .fildset-name-email-long-margin-bottom {
   
    margin-bottom: 23px;
   
  }
}

@media (max-width: 375px) {
  .fildset-name-email-long-margin-bottom {
     margin-bottom: clamp(0px, 6.13vw, 23px);
  }
}



.fildset-date,
.fildset-time {
  all: unset;
  display: flex;

  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 480px) {
  .fildset-date,
  .fildset-time {
    flex-direction: column;
    align-items: stretch;
  }
}

.data-time-fields-set {
  flex: 6.5 1 0;
  display: flex;

  // gap: 16px;
  gap: clamp(0px, 1.11vw, 16px);

  min-width: 0;
}

@media (max-width: 1024px) {
  .data-time-fields-set {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .data-time-fields-set {
    gap: clamp(0px, 2.08vw, 16px);
  }
}

@media (max-width: 480px) {
  .data-time-fields-set {
    gap: 16px;
    margin-top: 10px;

    flex-direction: row;
  }
  .data-time-fields-set > input[type="text"] {
    width: 100%;
  }
}


@media (max-width: 375px) {
  .data-time-fields-set {
   gap: clamp(0px, 4.27vw, 16px);
margin-top: clamp(0px, 2.67vw, 10px);


    flex-direction: row;
  }
  
}

.input-day-month-hours-minutes {
  flex: 1;

  min-width: 0;
}

.input-year-pseudo-input-meridiem {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid #8e8e8e;
  outline: none;
  width: 100%;


  font-size: clamp(0px, 1.39vw, 20px);
  line-height: clamp(0px, 1.94vw, 28px);

  padding-top: clamp(0px, 0.14vw, 2px);
  padding-right: 0px;
  padding-bottom: clamp(0px, 0.97vw, 14px);
  padding-left: clamp(0px, 1.11vw, 16px);

  flex: 1.2;

  min-width: 0;
}

@media (max-width: 1024px) {
  .input-year-pseudo-input-meridiem {
    font-size: 20px;
    line-height: 28px;

    padding: 2px 0 14px 16px;
  }
}

@media (max-width: 768px) {
  .input-year-pseudo-input-meridiem {
    font-size: clamp(0px, 2.6vw, 20px);
    line-height: clamp(0px, 3.65vw, 28px);

    padding-top: clamp(0px, 0.26vw, 2px);
    padding-right: 0;
    padding-bottom: clamp(0px, 1.82vw, 14px);
    padding-left: clamp(0px, 2.08vw, 16px);
  }
}

@media (max-width: 480px) {
  .input-year-pseudo-input-meridiem {
    font-size: 20px;
    line-height: 28px;

    padding-top: 2px;
    padding-right: 0;
    padding-bottom: 14px;
    padding-left: 16px;
  }
}

@media (max-width: 375px) {
  .input-year-pseudo-input-meridiem {
   font-size: clamp(0px, 5.33vw, 20px);
line-height: clamp(0px, 7.47vw, 28px);

padding-top: clamp(0px, 0.53vw, 2px);
padding-right: 0;
padding-bottom: clamp(0px, 3.73vw, 14px);
padding-left: clamp(0px, 4.27vw, 16px);

  }
}

.input-year-pseudo-input-meridiem.border-input-error {
  border-bottom: 1px solid #b54949;
}

.action-of-the-field-info {
  flex: 3.5 0 0;
  min-width: 0;

  margin: 0;

  // font-size: 20px;

  font-size: clamp(0px, 1.39vw, 20px);
}

@media (max-width: 1024px) {
  .action-of-the-field-info {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .action-of-the-field-info {
    font-size: clamp(0px, 2.6vw, 20px);
  }
}

@media (max-width: 480px) {
  .action-of-the-field-info {
    position: relative;
    display: flex;
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .action-of-the-field-info {
  
   font-size: clamp(0px, 5.33vw, 20px);

  }
}

.input {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  border: 0;
  border-bottom: 1px solid #8e8e8e;
  outline: none;
  width: 100%;

  // font-size: 20px;
  // line-height: 28px;

  // padding: 2px 0 14px 16px;

  font-size: clamp(0px, 1.39vw, 20px);
  line-height: clamp(0px, 1.94vw, 28px);

  padding-top: clamp(0px, 0.14vw, 2px);
  padding-right: 0;
  padding-bottom: clamp(0px, 0.97vw, 14px);
  padding-left: clamp(0px, 1.11vw, 16px);

  caret-color: #9e7f66;

  cursor: pointer;
}

@media (max-width: 1024px) {
  .input {
    font-size: 20px;
    line-height: 28px;

    padding: 2px 0 14px 16px;
  }
}

@media (max-width: 768px) {
  .input {
    font-size: clamp(0px, 2.6vw, 20px);
    line-height: clamp(0px, 3.65vw, 28px);

    padding-top: clamp(0px, 0.26vw, 2px);
    padding-right: 0;
    padding-bottom: clamp(0px, 1.82vw, 14px);
    padding-left: clamp(0px, 2.08vw, 16px);
  }
}

@media (max-width: 480px) {
  .input {
    font-size: 20px;
    line-height: 28px;

    padding-top: 2px;
    padding-right: 0;
    padding-bottom: 14px;
    padding-left: 16px;
  }
}

@media (max-width: 375px) {
  .input {
    font-size: clamp(0px, 5.33vw, 20px);
line-height: clamp(0px, 7.47vw, 28px);

padding-top: clamp(0px, 0.53vw, 2px);
padding-right: 0;
padding-bottom: clamp(0px, 3.73vw, 14px);
padding-left: clamp(0px, 4.27vw, 16px);

  }
}

.wrong-input-txt-color {
  color: #b54949;
}

.input:focus {
  border-bottom: 1px solid #111111;
}

.input:hover {
  border-bottom: 1px solid #111111;
}

.input.border-input-error {
  border-bottom: 1px solid #b54949;
}

.input.border-input-error:focus {
  border-bottom: 1px solid #b54949;
}

.placeholder-normal::placeholder {
  color: #8e8e8e;
  opacity: 1;
}

.placeholder-error::placeholder {
  color: #b54949;
  opacity: 0.5;
}

.input:focus::placeholder {
  color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.error_mesage_div {
  // height: 24px;

  height: clamp(0px, 1.67vw, 24px);
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1024px) {
  .error_mesage_div {
    height: 24px;
  }
}

@media (max-width: 768px) {
  .error_mesage_div {
    height: clamp(0px, 3.13vw, 24px);
  }
}

@media (max-width: 480px) {
  .error_mesage_div {
    height: 24px;
  }
}

@media (max-width: 375px) {
  .error_mesage_div {
    height: clamp(0px, 6.4vw, 24px);

  }
}

.error_mesage_div-data {
  height: 0;
}

.errorText {
  margin: 0;
  // font-size: 12px;

  // padding-top: 10px;
  // margin-left: 16px;

  font-size: clamp(10px, 0.83vw, 12px);
  padding-top: clamp(0px, 0.69vw, 10px);
  margin-left: clamp(0px, 1.11vw, 16px);

  letter-spacing: -0.13px;
  text-align: left;
  color: #b54949;
}

@media (max-width: 1024px) {
  .errorText {
    font-size: 12px;

    padding-top: 10px;
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .errorText {
    font-size: clamp(10px, 1.56vw, 12px);
    padding-top: clamp(0px, 1.3vw, 10px);
    margin-left: clamp(0px, 2.08vw, 16px);
  }
}

@media (max-width: 480px) {
  .errorText {
    font-size: 12px;
    padding-top: 10px;
    margin-left: 16px;
  }
}

@media (max-width: 375px) {
  .errorText {
    font-size: clamp(10px, 3.2vw, 12px);
padding-top: clamp(0px, 2.67vw, 10px);
margin-left: clamp(0px, 4.27vw, 16px);

  }
}

.errorText-data {
  // font-size: 12px;

  // padding-top: 10px;
  // margin-left: 16px;

  font-size: clamp(10px, 0.83vw, 12px);
  padding-top: clamp(0px, 0.69vw, 10px);
  margin-left: clamp(0px, 1.11vw, 16px);

  letter-spacing: -0.13px;
  text-align: left;
  color: #b54949;

  margin: 0;
}

@media (max-width: 1024px) {
  .errorText-data {
    font-size: 12px;

    padding-top: 10px;
    // margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .errorText-data {
    font-size: clamp(10px, 1.56vw, 12px);
    padding-top: clamp(0px, 1.3vw, 10px);
  }
}

@media (max-width: 480px) {
  .errorText-data {
    position: absolute;

    top: 73px;
    font-size: 12px;
    padding-top: 10px;
  }
}

@media (max-width: 375px) {
  .errorText-data {
   

		font-size: clamp(10px, 3.2vw, 12px);
  top: clamp(0px, 19.47vw, 73px);
padding-top: clamp(0px, 2.67vw, 10px);

  }
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

.fildset-time {
  // margin-top: 34px;

  margin-top: clamp(0px, 2.36vw, 34px);

  // border: 1px solid #000;
}

@media (max-width: 1024px) {
  .fildset-time {
    margin-top: 34px;
  }
}

@media (max-width: 768px) {
  .fildset-time {
    margin-top: clamp(0px, 4.43vw, 34px);
  }
}

@media (max-width: 480px) {
  .fildset-time {
    margin-top: 34px;
  }
}

@media (max-width: 375px) {
  .fildset-time {
    margin-top: clamp(0px, 9.07vw, 34px);
  }
}

.fildset-people {
  all: unset;
  display: flex;

  // margin-top: 36px;

  // padding-bottom: 17px;

  margin-top: clamp(0px, 2.5vw, 36px);
  padding-bottom: clamp(0px, 1.18vw, 17px);

  border-bottom: 1px solid #8e8e8e;
}

@media (max-width: 1024px) {
  .fildset-people {
    margin-top: 36px;

    padding-bottom: 17px;
  }
}

@media (max-width: 768px) {
  .fildset-people {
    margin-top: clamp(0px, 4.69vw, 36px);
    padding-bottom: clamp(0px, 2.21vw, 17px);
  }
}

@media (max-width: 480px) {
  .fildset-people {
    margin-top: 36px;
    padding-bottom: 17px;
  }
}

@media (max-width: 375px) {
  .fildset-people {
    margin-top: clamp(0px, 9.6vw, 36px);
padding-bottom: clamp(0px, 4.53vw, 17px);

  }
}

.people {
  flex: 70.58 0 0;
  text-align: center;
  font-weight: 700;

  // font-size: 20px;
  // line-height: 24px;

  font-size: clamp(0px, 1.38vw, 20px);
  line-height: clamp(0px, 1.66vw, 24px);

  letter-spacing: -0.25px;
}

@media (max-width: 1024px) {
  .people {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .people {
    font-size: clamp(0px, 2.6vw, 20px);
    line-height: clamp(0px, 3.13vw, 24px);
  }
}

@media (max-width: 480px) {
  .people {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 375px) {
  .people {
   font-size: clamp(0px, 5.33vw, 20px);
line-height: clamp(0px, 6.4vw, 24px);

  }
}

.button-increment,
.button-decrement {
  // font-size: 18px;

  font-size: clamp(0px, 1.25vw, 18px);
  font-weight: 700;
  flex: 14.7 0 0;
  min-width: 0;
  background-color: transparent;
  cursor: pointer;
  color: #9e7f66;
  border: 0;
}

@media (max-width: 1024px) {
  .button-increment,
  .button-decrement {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .button-increment,
  .button-decrement {
    font-size: clamp(0px, 2.34vw, 18px);
  }
}

@media (max-width: 480px) {
  .button-increment,
  .button-decrement {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .button-increment,
  .button-decrement {
    font-size: clamp(0px, 4.8vw, 18px);

  }
}

.fildset-button {
  border: 0;
  margin: 0;
  padding: 0;

  // margin-top: 32px;

  margin-top: clamp(0px, 2.22vw, 32px);
}

@media (max-width: 1024px) {
  .fildset-button {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .fildset-button {
    margin-top: clamp(0px, 4.17vw, 32px);
  }
}

@media (max-width: 480px) {
  .fildset-button {
    margin-top: 32px;
  }
}

@media (max-width: 375px) {
  .fildset-button {
   margin-top: clamp(0px, 8.53vw, 32px);

  }
}

.submit-button {
  padding: 0;
  font-family: "League Spartan", sans-serif;
  color: #fff;
  background-color: black;
  width: 100%;

  // height: 64px;
  // font-size: 17px;
  // letter-spacing: 2.5px;

  height: clamp(0px, 4.44vw, 64px);
  font-size: clamp(0px, 1.18vw, 17px);
  letter-spacing: clamp(0px, 0.17vw, 2.5px);

  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: default;
}

@media (max-width: 1024px) {
  .submit-button {
    height: 64px;
    font-size: 17px;
    letter-spacing: 2.5px;
  }
}

@media (max-width: 768px) {
  .submit-button {
    height: clamp(0px, 8.33vw, 64px);
    font-size: clamp(0px, 2.21vw, 17px);
    letter-spacing: clamp(0px, 0.33vw, 2.5px);
  }
}

@media (max-width: 480px) {
  .submit-button {
    height: 64px;
    font-size: 17px;
    letter-spacing: 2.5px;
  }
}

@media (max-width: 375px) {
  .submit-button {
   height: clamp(0px, 17.07vw, 64px);
font-size: clamp(0px, 4.53vw, 17px);
letter-spacing: clamp(0px, 0.67vw, 2.5px);

  }
}

.submit-button-active:active {
  background-color: transparent;
  color: #111111;
}

@media (min-width: 1024px) {
  .submit-button-active {
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: #111111;
    }
  }
}

@media (max-width: 480px) {
  .pseudo-input {
    width: 100%;
  }
}


.half-of-day-indecator {
  display: inline-block;
}
