.header-body{
	width: 100%;
	background: white;
}

@media (max-width: 1024px) {
  .header-body{ 
    	background: #111111;
	}
}

.header-container {
  margin: 0 auto;

  max-width: 1440px;
width: 100%;
  background-image: image-set(
    url("/images/hero-bg-desktop.jpg") 1x,
    url("/images/hero-bg-desktop@2x.jpg") 2x
  );

  aspect-ratio: 1440 / 820;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top: clamp(0px, 4.5vw, 65px);
  padding-left: clamp(0px, 11.6vw, 167px);
}

@media (max-width: 1024px) {
  .header-container {
    max-width: 768px;

    background-image: image-set(
      url("/images/hero-bg-tablet.jpg") 1x,
      url("/images/hero-bg-tablet@2x.jpg") 2x
    );

    aspect-ratio: 768 / 992;

    padding: 0;
    padding-top: clamp(0px, 48.7vw, 374px);
  }
}

@media (max-width: 480px) {
  .header-container {
    max-width: 375px;

    background-image: image-set(
      url("/images/hero-bg-mobile.jpg") 1x,
      url("/images/hero-bg-mobile@2x.jpg") 2x
    );

    aspect-ratio: 375 / 748;

    padding-top: clamp(0px, 61.87vw, 232px);
  }
}

//----------------------------------------------------

.header-logo-info-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  // border: 1px solid white;

  width: clamp(0px, 35vw, 507px);

  aspect-ratio: 507 / 557;
}

@media (max-width: 1024px) {
  .header-logo-info-block {
    width: 689px;
    height: 402px;

    aspect-ratio: unset;
    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-logo-info-block {
    width: clamp(0px, 89.71vw, 689px);
    aspect-ratio: 689 / 402;
    height: auto;
    // margin: 0 auto;
    // align-items: center;
  }
}

@media (max-width: 480px) {
  .header-logo-info-block {
    width: 327px;
    height: 364px;
		  aspect-ratio: unset;
    // margin: 0 auto;
    // align-items: center;
  }
}

@media (max-width: 375px) {
  .header-logo-info-block {
width:clamp(0px,87.2vw,327px);
  aspect-ratio: 327 / 364;
	  height: auto;
	}
}


.logo-link {
  display: inline-block;
  width: clamp(0px, 7.15vw, 103px);
  aspect-ratio: 103 / 40;
}

@media (max-width: 1024px) {
  .logo-link {
    width: 103px;
    height: 40px;


		margin-right: 10px;


  }
}

@media (max-width: 768px) {
  .logo-link {

			margin-right: clamp(0px,1.3vw,10px);

    width: clamp(0px, 13.41vw, 103px);
    aspect-ratio: 103 / 40;
  }
}

@media (max-width: 480px) {
  .logo-link {
		margin-right: 0px;
    width: 82.4px;
    height: 32px;
		 aspect-ratio: unset;
  }
}

@media (max-width: 375px) {
  .logo-link {
    width: clamp(0px,21.97vw,82.4px);
		aspect-ratio: 82.4 / 32;
    height: auto;
  }
}



.logo {
  width: 100%;
  height: 100%;
  display: block;
}

.header-info {
	border: 0;
  // border: 1px solid lightskyblue;
}

@media (max-width: 1024px) {
  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header-main-info-about-restaurant-home-pg-h1 {
// font-style: italic;


  margin: 0;
  font-weight: 200;
  font-size: clamp(0px, 5.56vw, 80px);
  // 80px / 1440px = 0.0555 → 5.56vw
  color: #ffffff;

letter-spacing: -1px;
// letter-spacing: clamp(-1px, -0.069vw, -100px); 
  // letter-spacing: clamp(-100px, -0.069vw, -1px);

  // border: 1px solid yellow;
}

@media (max-width: 1440px) {
	.header-main-info-about-restaurant-home-pg-h1 {
letter-spacing: clamp(-100px, -0.069vw, -1px);
	}
}

@media (max-width: 1024px) {
  .header-main-info-about-restaurant-home-pg-h1 {
		// border: 1px solid firebrick;


		margin-right: 10px;


    width: 350px;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.6px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header-main-info-about-restaurant-home-pg-h1 {
	margin-right: clamp(0px,1.3vw,10px);

    width: clamp(0px, 45.57vw, 350px);
    font-size: clamp(0px, 6.25vw, 48px);
    line-height: clamp(0px, 8.33vw, 64px);
    letter-spacing: clamp(-0.6px, -0.78vw, 100px);
  }
}

@media (max-width: 480px) {
  .header-main-info-about-restaurant-home-pg-h1 {
		margin-right: 0px;
    width: 200px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
   
  }
}

@media (max-width: 375px) {
  .header-main-info-about-restaurant-home-pg-h1 {
    width: clamp(0px,53.33vw,200px);
    font-size: clamp(0px,8.53vw,32px);
    line-height: clamp(0px,10.66vw,40px);
    letter-spacing: clamp(-0.4px,-0.1vw ,-100px);
  }
}




.header-main-appeal-p {
  // width:445px;
  width: clamp(0px, 30.9vw, 445px);

  color: #ffffff;
  font-weight: 400;
  // font-size: 20px;
  font-size: clamp(0px, 1.39vw, 20px);
  // line-height: 30px;
  line-height: clamp(0px, 2.08vw, 30px);

  // border: 1px solid red;

  margin-bottom: 40px;

}

@media (max-width: 1024px) {
  .header-main-appeal-p {
    width: 573px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 52px;
  }
}

@media (max-width: 768px) {
  .header-main-appeal-p {
    width: clamp(0px, 74.61vw, 573px);
    font-size: clamp(0px, 2.6vw, 20px);

    line-height: clamp(0px, 3.9vw, 30px);
    margin-bottom: clamp(0px, 6.78vw, 52px);
  }
}

@media (max-width: 480px) {
  .header-main-appeal-p {
    width: 327px;
    font-size: 16px;
    line-height: 26px;

    margin-top: 21px;
    margin-bottom: 53px;
  }
}


@media (max-width: 375px) {
  .header-main-appeal-p {
   width: clamp(0px, 87.2vw, 327px);
    font-size: clamp(0px, 4.27vw, 16px);
 line-height: clamp(0px, 7vw, 26px);

   margin-top: clamp(0px, 5.6vw, 21px);
  margin-bottom: clamp(0px, 14.1vw, 53px);
  }
}



.book-a-table-button {
  width: clamp(0px, 17.01vw, 245px);
  aspect-ratio: 245 / 64;

  font-family: "League Spartan", sans-serif;
  font-size: clamp(0px, 1.18vw, 17px);
  line-height: clamp(0px, 1.11vw, 16px);
  font-weight: 500;
  letter-spacing: clamp(0px, 0.174vw, 2.5px);

  color: #ffffff;
  background-color: transparent;
	
  border: 1px solid #ffffff;

  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: default;
}

.book-a-table-button-opaque-background{

	background-color: #111111;
	border: 1px solid #111111;
}

@media (max-width: 1024px) {
  .book-a-table-button {

margin-right: 23px;


    width: 245px;
    height: 64px;
    font-size: 17px;
    line-height: 16px;

    letter-spacing: 2.5px;
  }
}

@media (max-width: 768px) {
  .book-a-table-button {

margin-right: clamp(0px,2.99vw,23px);

    width: clamp(0px, 31.9vw, 245px);

    aspect-ratio: 245 / 64;
    height: auto;

    font-size: clamp(0px, 2.21vw, 17px);
    line-height: clamp(0px, 2.08vw, 16px);

    letter-spacing: clamp(0px, 0.33vw, 2.5px);
  }
}

@media (max-width: 480px) {
  .book-a-table-button {
		margin-right: 0px;
    width: 245px;
    height: 64px;

    font-size: 17px;
    line-height: 16px;

    letter-spacing: 2.5px;
  }
}

@media (max-width: 375px) {
  .book-a-table-button {
  width: clamp(0px, 65.3vw, 245px);
   
  aspect-ratio: 245 / 64;
    height: auto;

 font-size: clamp(0px, 4.53vw, 17px);
   
line-height: clamp(0px, 4.27vw, 16px);
   letter-spacing: clamp(0px, 0.67vw, 2.5px);
  }
}

.book-a-table-button:active {
  color: #111111;
  background-color: #ffffff;

}



@media (min-width: 1024px) {
  .book-a-table-button {
    cursor: pointer;

    &:hover {
      background-color: #ffffff;
      color: #111111;
    }
  }
}
