.reservation-section {
  max-width: 1440px;
  width: 100%;
  height: clamp(0px, 16.67vw, 240px);
  margin: 0 auto;
  background-image: image-set(
    url("/images/ready-bg-desktop.jpg") 1x,
    url("/images/ready-bg-desktop@2x.jpg") 2x
  );

  padding-left: clamp(0px, 11.46vw, 165px);
  padding-right: clamp(0px, 11.46vw, 165px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .reservation-section {
    background-image: image-set(
      url("/images/ready-bg-tablet.jpg") 1x,
      url("/images/ready-bg-tablet@2x.jpg") 2x
    );
    height: 272px;
    flex-direction: column;

    padding: 72px calc(215px - (1024px - 100vw) * 0.5) 64px
      calc(194px - (1024px - 100vw) * 0.5);
  }
}

@media (max-width: 765px) {
  .reservation-section {
    height: clamp(0px, 35.42vw, 272px);

    padding-top: clamp(0px, 9.38vw, 72px);
    padding-right: clamp(0px, 11.33vw, 87px);
    padding-bottom: clamp(0px, 8.33vw, 64px);
    padding-left: clamp(0px, 8.59vw, 66px);
  }
}

@media (max-width: 480px) {
  .reservation-section {
    background-image: image-set(
      url("/images/ready-bg-mobile.jpg") 1x,
      url("/images/ready-bg-mobile@2x.jpg") 2x
    );
    height: 328px;

    padding: 84px calc(76.5px - (480px - 100vw) * 0.5) 80px
      calc(76.5px - (480px - 100vw) * 0.5);
  }
}


@media (max-width: 375px) {
  .reservation-section {
 height: clamp(0px, 87.47vw, 328px);

 padding-top: clamp(0px, 22.4vw, 84px);
padding-right: clamp(0px, 6.4vw, 24px);
padding-bottom: clamp(0px, 21.33vw, 80px);
padding-left: clamp(0px, 6.4vw, 24px);

	}
}

.reservation-section-h2 {
  width: auto;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

@media (max-width: 480px) {
  .reservation-section-h2 {
    width: 300px;
    text-align: center;
  }
}


@media (max-width: 480px) {
  .reservation-section-h2 {
width: clamp(0px, 80vw, 300px);
	}
}

@media (max-width: 1024px) {
  .booking-reservation-button-container {
    margin-left: 18px;
    // margin-left: calc(18px - (1024px - 100vw) * 0.5);
  }
}

@media (max-width: 765px) {
  .booking-reservation-button-container {
    margin-left: clamp(0px, 2.34vw, 18px);
  }
}

@media (max-width: 480px) {
  .booking-reservation-button-container {
    margin: 0;
  }
}
